/* Reset styles */
body, h1, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.6s ease-in-out; /* Smooth transition */
}

body.fade-in {
    opacity: 1; /* Fully visible */
}

body.fade-out {
    opacity: 0; /* Fade out on navigation */
}


/* Fixed header navigation */
.header-navigation {
    position: fixed; /* Make the header fixed */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left edge */
    width: 100vw; /* Full width */
    height: 68px;
    padding: 24px 16px 14px 6px; /* top, right, bottom, left */
    /*border-bottom: 1px solid #CFCFCF; Adjust the thickness (2px) as needed */
    z-index: 999; /* Ensure it stays on top of other content */
}

.header-navigation-light{
    background-color: white;
}

.header-navigation-dark{
    background-color: black;
    color: white;
}
  
  
#menu-button {
    background-color: white;
    color: #2B2C2B;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: 300;
}

.logoIC{
    text-align: right;
    width: 100%;
    margin-top: 8px;
}

.landing-link {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700; /* Bold weight */
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}

.landing-link-menu {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700; /* Bold weight */
    color: white;
    text-decoration: none;
}

.landing-link:visited {
    font-family: 'Public Sans', sans-serif;
    color: inherit;
}

.landing-link:hover {
    color: inherit;            
    text-decoration: none;     
}

.landing-link:focus {
    outline: none;
}


/*Columns*/
* {
    box-sizing: border-box;
}

.column50 {
    float: left;
    width: 50%;
    padding: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

  
#full-screen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:black;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    z-index: 100000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    padding-top: 78px;
}

.menu-header-area {
    width: 100vw;
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 14vh;
    font-size: 18px;
    color: white;
    font-family: 'Public Sans', sans-serif;  /* Use Public Sans */
    font-weight: 300; /* Light weight */
    letter-spacing: 0.25;
}

  
  #full-screen-menu.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  #full-screen-menu.visible {
    opacity: 1;
    pointer-events: all;
  }
  
  .menu-content h1 {
    margin-bottom: 20px;
  }
  
  .menu-content ul {
    list-style: none;
    text-align: center;
  }
  
  .menu-content ul li {
    margin: -1px 0;
  }
  
  .menu-content ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
.menu-content ul li a:hover {
    color: gray;
}

.menu-item {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 0.5px solid #B2B2B2; /* Bottom border */
    font-size: 14px;
    color: #404241;
    letter-spacing: 0.4px;
    word-spacing:2px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300; /* Light weight */
}

.menu-top-border{
    border-top: 0.5px solid #B2B2B2;  /* Top border */
}

  
#close-button {
    background-color: black;
    color: white;
    padding: 4px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.agenda-content{
    width: 100vw;
}

.content-header{
    width: 100vw;
    padding-top: 15vh;
    padding-bottom: 8vh;
    color: black;
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;  /* Use Public Sans */
    letter-spacing: 0.3px;
    font-weight: 400; /* semi weight */
    text-align: center;
}

.agenda-item{
    float: left;
    width: 100vw;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
}

h3{
    font-family: 'Noto Serif JP', 'Hiragino Mincho ProN', serif;
    font-weight: 700; /* Bold weight */
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
}

.time{
    color: rgba(0, 0, 0, 1);
}

.agenda-event{
    font-family: 'Public Sans', sans-serif;  /* Use Public Sans */
    font-weight: 500; /* Light weight */
    letter-spacing: 2%;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 10px;
    letter-spacing: 0.25px;
}

.agenda-location {
    font-family: 'Public Sans', sans-serif;  /* Use Public Sans */
    font-weight: 300; /* Light weight */
    letter-spacing: 2%;
    color: rgba(0, 0, 0, 0.75);
    font-style: italic; /* Make the text italic */
    padding-bottom: 18px;
    letter-spacing: 0.25px;
}




.map-content{
    width: 100vw;
    /*background-color: pink;*/
    padding-bottom: 64px; 
}

.top-padding-8{
    padding-top: 8px;
}


.landing-content{
    width: 100vw;
    padding-top: 13vh;
    padding-left: 20px;
    padding-right: 20px;
}

.home-title {
    max-width: 80vw; /* or set a specific width, e.g., 300px */
    overflow-wrap: break-word; /* Ensure text wraps if it overflows */
    padding-bottom: 12px;
}
  
.nrf-guide {
    font-family: "Adobe Garamond Pro", serif; /* Font for this section */
    font-size: 56px;
    line-height: 64px;
}
  
.nrf-italic {
    font-style: italic; /* Make only NRF italic */
}
  
.nyc-25 {
    font-family: "Public Sans", sans-serif; /* Font for this section */
    margin-left: 4px; /* Add spacing if needed */
    font-size: 20px;
    font-weight: 200; /* Light weight */
}

.welcomeMS {
    font-family: "Public Sans", sans-serif; /* Font for this section */
    font-size: 24px;
    font-weight: 200; /* Light weight */
    margin-bottom: 16px;
}

.start-tour {
    width: 100vw;
    height: 54vh;
    position: relative; /* Allows positioning of child elements relative to this container */
    overflow: hidden; /* Ensures content stays inside the container */
    z-index: 0;
}

.background-image {
    width: 100%; /* Stretch to the width of the container */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Makes it a true background */
    top: 0;
    left: 0;
    z-index: -1; /* Ensures it's behind the button and other content */
}

.view-agenda-button {
    position: absolute; /* Places the button relative to the container */
    bottom: 32px; /* Ensures it is always 32px from the bottom of the container */
    left: 50%; /* Centers the button horizontally */
    transform: translateX(-50%); /* Aligns it perfectly in the center */
    z-index: 10; /* Ensures the button is above the background image */
}

.image-credit{
    color: #828282;
    font-weight: 200;
    text-align: end;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    font-size: 14px;
}

.title-header-area{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.title-section {
    float: left;
    width: 75%;
    font-size: 20px;
    font-weight: 200;
}
  
.more-section {
    float: left;
    width: 25%;
    text-align: end;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.additional-link{
    color: black;
    font-weight: 200;
    font-size: 14px;
}

.footer{
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 200;
    width: 100vw;
    font-size: 14px;
}

.global-footer{
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 200;
    width: 100vw;
    font-size: 14px;
    position: fixed;
    bottom: 0;
}

.spacer-40{
    background-color: white;
    color: white;
    height: 40px;
    width: 100%;
}
